<p id="notice"><%= notice %></p>
<br/><br/>
<b>Transferência Realizada</b>
<br/><br/>
<p>
  <strong>Data:</strong>
  <%= @trasnference.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @trasnference.valor %>
</p>

<p>
  <strong>Contadestino:</strong>
  <%= @trasnference.contadestino %>
</p>


